
@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css?family=Nanum+Myeongjo:700&display=swap');
@import url('https://fonts.googleapis.com/css?family=DM+Serif+Text|Literata&display=swap');
:root{
  --pcolor:#424242;
  --poster-max-width:250px;
}
body{
  
  background: url(./images/162.jpg);
   
   background-attachment: fixed;
  background-clip: content-box;
background-size: cover;
background-position: center;

}

.menuBar{
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10000;
  width: 100%;
  text-align: center;
  min-height: 3em;
  font-size: 1.4em;
  padding:0;
  backdrop-filter: blur(30px);
  background: rgba(250,250,250,0.2);
}
.bshadow{
  border-radius: 4px;
  box-shadow: 0 7px 19px #cccccc;
 }
.bshadow img{
  border-radius: 5px 0 0 5px;
  margin: 0 auto;
  padding: 5px;
  border-bottom-left-radius: 0 ;
  border-bottom-right-radius: 0;
  background: url(./images/border.jpg);
 }
.logo{
  display:flex;
  float: left;
}
.logo a{
  display: flex;
  text-transform: capitalize;
}



.ant-drawer-body{
  padding: 0;
}
.ant-drawer-body .ant-menu-horizontal > .ant-menu-item, .ant-drawer-body .ant-menu-horizontal > .ant-menu-submenu{
  display: inline-block;
  width: 100%;
}
.ant-drawer-body .ant-menu-horizontal{
  border-bottom: none;
}
.ant-drawer-body .ant-menu-horizontal > .ant-menu-item:hover{
  border-bottom-color: transparent;
}

@media(max-width: 767px){

  .leftMenu,.rightMenu{
    display: none;
  }
  .logo a{
    margin-left: -20px;
  }
  .menuCon .ant-menu-item, .menuCon .ant-menu-submenu-title{
    padding: 1px 20px;
  }
  .logo a{
    padding: 10px 20px;
  }
}

.pcolor{
  background: var(--pcolor)
}
.pcolor-text{
 color: var(--pcolor);
}
.logo-text{
  font-family: 'DM Serif Text', serif;
  color: var(--pcolor) !important;
 
}
.logo-text-sm{
  font-family: 'DM Serif Text', serif;
  color: var(--pcolor) !important;
  letter-spacing: 1px;
  word-break: break-word;
  line-height: 18px;
  font-size: 20px;
  position: relative;
  display: block;
  width: 20vw ;
  word-spacing: 200px !important;
  left: 5.5vh;
  top:-5.1vh ;
  height: 0px;
}
.logo-icon{
  font-family: 'Nanum Myeongjo', serif;
  font-size: 2em !important
}
.logo-icon-sm{
  font-size: 2em !important;
}
.ant-upload,.av-img,.ant-upload.ant-upload-select-picture-card{
  height: 100%;
  margin: 0;
  width: 100%;
  border: 0 ;
  border-radius: 4px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  min-height: 20vh;}

  .ant-upload.ant-upload-select-picture-card > .ant-upload{
    padding: 0;
  }

  .ant-avatar-lg {
    width: 60px;
    height: auto;
    max-height: 300px;
    line-height: 40px;
    border-radius:4px;
    min-height: 90px;
}





.trbody{
  position: fixed;
  content: "";
  background:  linear-gradient(transparent,#fff),url(./images/bg.jpg);
  width: 100%;
  top: 0;
  height: 100vh;
  background-size: contain;
}
 


.movies_title_h2{
  margin: 10px;
}

.anotherbutton{
  background:var(--pcolor);
  background-image:url(./images/border.jpg);
  border-radius:10px;
  border-top-left-radius:0;
  border-top-right-radius:0;
  margin:0;
  font-family:'Times New Roman', Times, serif;
  font-weight: 300;
  letter-spacing: 1px;
  background-attachment: fixed;
  background-size: cover;
   transition: all 1s;
}
.anotherbutton:hover{
  background-image:url(./images/border.jpg);
  background-attachment: fixed;
  background-size: cover;
}
.biglogo{
  text-align:center;
  font-family: 'DM Serif Text', serif;
}
.card-define{
  width: 100%;
  font-family: initial;
  align-content: left ; 
  align-self: left;
  text-align: left;
  padding: 10px;
  font-family: 'Literata', serif;
  border-left: 1px solid rgb(204, 204, 204) ;
  border-radius: 1px ;

}

 .pfont{
  font-family: 'Nanum Myeongjo', serif;
 }
 .pbold{
   font-weight: bold;
 }
 
 .htuimg{
   width: 100%;
   background:rgba(0,0,0,0) !important;
 }

 .customa{
   color:#5d68ef !important;
 }
 .ppd{
  border: 1px solid #22ade4;
  border-radius: 10px !important;
  box-shadow: 0px 0px 10px #22ade4;
  background:white !important;
 }
  


 .white{
   background:white;
 }

 .movie_link{
   cursor: pointer;
 }

 
 .mobile-menu{
   display:none ;
   padding:1rem ;
   background:transparent ;
 }
 .desktop-menu{
   display:block ;
   background:transparent;
   border: 0;
 }
@media(max-width: 767px){
 .mobile-menu{
   display: block;
 } 
 .desktop-menu{
  display:none ;
}
}